<h1>SEO for Angular Applications</h1>

<p>I provide you a step by step instructions for search engine optimization a single page application based on Angular. The pages were created also to respond a question "Can Google crawl your Angular apps without any hashbang methods?"</p>

<ol>
    <li ng-repeat="s in vm.steps">
        <p><a ui-sref="step({{s}})" href="/#/step/{{s.id}}" ng-if="s.published">{{s.title}}</a>
        <p ng-if="!s.published">{{s.title}}</p>
    </li>
</ol>

