body {
  padding: 10%;
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ol {
  margin-top: 30px;
  padding: 0;
  list-style-position:inside;
}