<!DOCTYPE html>
<html ng-app="sampleApp" ng-controller="MainConroller" lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />

    <title>{{meta.title()}}</title>
    <meta name="description" content="{{meta.description()}}">

    <meta property="og:title" content="{{meta.ogTitle()}}" />
    <meta property="og:title" content="{{meta.ogDescription()}}" />
    <meta property="og:type" content="website" />

    <!--<link rel="canonical" href="{{meta.canonical()}}" />-->
    <!--<meta name="robots" content="{{robots}}">-->

    <link rel="stylesheet" href="stylesheets/style.css"/>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

    <script src="javascripts/index.js"></script>
    <script src="javascripts/main-controller.js"></script>
    <script src="javascripts/home/controller.js"></script>
    <script src="javascripts/page/meta/service.js"></script>
    <script src="javascripts/step/controller.js"></script>
    <script src="javascripts/step/service.js"></script>

</head>
<body>

<div ui-view></div>

</body>
</html>