<h1>Step {{vm.step.id}}. {{vm.step.title}}</h1>

<h3>{{vm.step.description}}</h3>

<p>{{vm.step.content}}</p>

<p><a ui-sref="home">Go Home</a> or <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fssseo.slepushkin.com/step/{{vm.step.id}}" target="_blank">share with Facebook</a></p>